.App {
  text-align: center;
  background-color: rgba(0, 57, 122, 0.932);
  color: white;
}

.DashBody {
  background-color: #00517c;
}

.stdBox {
  border-right: solid rgb(46, 46, 46) 2px;
  border-bottom: solid rgb(46, 46, 46) 2px;
  border-top: solid rgb(144, 144, 144) 2px;
  border-left: solid rgb(144, 144, 144) 2px;
}

.Sidebar {
  position: fixed;
  z-index: 2;
  height: 3.5em;
  border-right: "solid rgb(46, 46, 46) 2px";
  width: 0;
  transition: width 0.2s;
  background-color: gray;
}

#editBudgetsMenu {
  background-color: rgb(170, 170, 170);
}

#sidebarBtn {
  user-select: none;
  margin-top: 0;
  padding-top: 0;
  background-color: gray;
  border-radius: 0;
  border-right: solid rgb(46, 46, 46) 2px;
  border-bottom: solid rgb(46, 46, 46) 2px;
  border-top: solid rgb(144, 144, 144) 2px;
  border-left: solid rgb(144, 144, 144) 2px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.navbar-nav > li {
  align-items: center !important;
  margin-left: 0 !important;
}

.nav-item {
  margin-left: auto;
}

.nav-item:hover {
  color: black;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: black !important;
}

#logout {
  color: white;
}
#logout:hover {
  color: black;
}

#Prev {
  margin-top: 3rem;
  margin-right: 25%;
}

#Next {
  margin-top: 3rem;
  margin-left: 25%;
}

Button:hover {
  background-color: gray;
}

#upcomingBillsHeader {
  user-select: none;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.upcomingBills {
  /* user-select: none; */
  color: black !important;
  height: 100%;
  width: 100%;
}
/* .upcomingBillsTable > thead {
  user-select: none;
} */
.upcomingBillsTable {
  margin: auto;
  margin-top: 3em;
  height: 40%;
  width: 80%;
}

.CurrentBudgetStatus {
  height: 100%;
  width: 100%;
  min-width: 35vw;
  /* max-height: 50vh; */
  background-color: rgb(178, 178, 178);
  color: black;
  font-size: xx-large;
  /* opacity: .5; */
}

.RecentTransactions {
  margin: auto;
  height: 100%;
  width: 100%;
  min-width: 35vw;
}
